*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    scroll-behavior: smooth;
}


:root{
    --bg-color:rgb(230, 241, 249);
    --text-color:black;
    --div-color:white;
}

.darkmode{
    --bg-color:rgb(62, 63, 63);
    --text-color:white;
    --div-color:black;
}

.dark{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.4rem;
    border: none;
    display: hidden;
}

body{
    background-color:var(--bg-color);
    color: var( --text-color);
}

.empty{
    height: 70px;
}

header{
    position: fixed;
    padding: 12px 28px;
    background-color: var(--div-color);
    width: 100vw;
    z-index: 999;
}

nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  var( --text-color);
}
.search-p{
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 15px;
    margin-left: 30px;
}

.search{
    height: 43px;
    border: none;
    background-color: var(--bg-color);
    flex-grow: 1;
    border-radius: 0 6px 6px 0;
    font-weight: 400;
    font-size: 20px;
}

.search-icon{
    background-color: var(--bg-color);
    font-size: 22px;
    padding: 8px 8px 8px 12px;
    border-radius: 6px 0 0 6px;
}

.info{
    display: flex;
    margin-right: 30px;
    font-size: 15px;
}

.login, .cart, .seller, .hidden-menu{
        margin: 0 4px;
        display: flex;
        font-size: large;
        padding: 0 8px;
        align-items: center;
}

.login-icon, .cart-icon, .store-icon{
    padding: 4px;
    margin-right:8px ;
    font-size: 24px;
}

.hero img{
    width: 98%;
    margin-left: 12px;
}

.container {
    margin-left: 12px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
  }
  .hero {
    width: 100%;
    display: flex;
    animation: slide 12s infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(0);
    }
    38% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-100%);
    }
    71% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

.belt-content{
    display: flex;
    background-color: var(--div-color);
    justify-content: space-evenly;
    margin: 10px 18px;
    width: 100%;
    margin-bottom: 40vh;

}

.belt-content img{
    height: 60px;
    padding: 16px;
}

.base{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 12px;
}


.top-offers{
    margin: 12px 12px 12px 12px;
    background-color: var(--div-color);
    padding-bottom: 28px;
}

.top-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-col{
    text-align: center;
    border-bottom: solid 1px;
}

.img0 img{
    height: 150px;
    padding: 10px;
}

.img0 img:hover, .bundle-items img:hover{
    scale: 1.1;
    transition: 0.3s;
}

.bold{
    font-weight: bold;
}

.light{
    font-size: 12px;
}

.offers{
    display: flex;
}

.smartphones{
    background-color: var(--div-color);
    margin: 0 8px 8px;
    padding-bottom: 10px;
}

h2{
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.grid-section{
    width: 100%;
    margin: 12px;

}

.grid-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr  ;
    gap: 10px;
    column-gap: 10px;
}

.grid img{
    max-width: 470px;
    min-width: 50px;
    width: 100%;
    object-fit: cover;
}

.logo, .search-icon, .info, img{
    cursor: pointer;
}

.bundle1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;  
    width: 33%;
    background-color: var(--div-color);
    margin-right: 20px;
    padding: 0 12px 0 12px;

}

.bundle-items img{
    width: 150px;
    height: 150px;
    padding: 10px 12px;
}

.bundle-items{
    text-align: center;
    border: solid rgb(245, 232, 232) 0.5px;

}

.bundle{
    display: flex;
    margin: 12px;
    justify-content: space-around;
}

.arrow{
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
    font-size: larger;
}

.hero2 img{
    margin-left: 12px;
    margin-right: 12px;
    width: 98%;
}


.foot-panal1 {
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panal2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: flex;
   font-size: 0.85rem;
   margin-top: 10px;
   color: #dddddd;
}


.foot-panal4 {
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;

}

.pages {
    font-size: 0.7rem;
}

.menu{
    display: none;
}

@media (max-width: 920px){

    .hide{
        display: none;
    }

    .belt-content img{
        height: 40px;
        margin: 8px;
    }

    .belt-content p{
        font-size: small;
    }

    .top-img{
        display: block;
    }

    .offer-main{
        display: flex;
        justify-content: center;
    }

    .top-offers, .smartphones{
        flex: 1;
        max-width: 300px;
    }

    .smartphones{
        margin-top: 12px;
    }
    .top-offers img, .smartphones img{
        width: 100px;
    }

    .foot-panal2{
        display: block;
        padding-left: 20px;
    }

    .dark{
        margin-left: 60%;
    }
    
    .container{
        top: 40%;
    }    .belt-content{
        margin-bottom: 150px;
    }
   
} 

@media (max-width: 1200px) {
   .bundle{
    display: none;
   }
} 


@media (max-width:720px){
    .info, .search{
        display: none;
    }

    .search-icon{
        background-color: white;
    }

    .menu{
        display: block;
    }

    .belt-content{
        flex-wrap: wrap;
        margin-bottom: 200px;
    }

}
